/* ----------- main body ----------------------------------------*/
body{
  background-color: #fbfbfb;
  font-family: 'Fjalla One', sans-serif;
}

.title-words{
  margin-top: 120px;
  margin-bottom: 100px;
  line-height: 60px;
}

#first{
  margin-bottom: -2px;
  margin-left: -5px;
  font-size: 100px;
  color: black;
}

#image-of-me{
  display: flex;
  float: right;
  margin-top: -160px;
  margin-left: 10px;
  margin-right: 50px;
  width: 200px;
  height: auto;
}

.header{
  margin-top: 35px;
  float: right;
  font-size: 35px;
  display: flex;
  background-color: #2130FF;
  color: white;
}

#second{
  margin-top: 11px;
  margin-left: 200px;
  font-size: 35px;
  display: flex;
  background-color: #2130FF;
  color: white;
}

.amp{
  font-family: 'Playfair Display', serif;
  padding-left: 5px;
  padding-right: 5px;
}

/* --- scrolling header ---*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 0px;
}
/*------------------------*/

ul{
  list-style: none;
  color: black;
  margin: 0;
  padding: 0;
  margin-top: -93px;
  font-size: 25px;
  float: right;
}

li{
  float: right;
  display: inline;
}

/*------- hover menu ---*/
a{
  text-decoration: none;
  display: block;
  padding: 0px 30px 0px 30px;
  color: #85C1E9;
  transition: color 0.3s ease;
}

a:active, a:visited{
  text-decoration: none;
  color: white;
}

a:hover{
  color: #85C1E9
}


#subtitle{
font-family: 'Roboto Mono', monospace;
/*font-family: 'Roboto Condensed', sans-serif;*/
font-weight: bold;
margin-left: 200px;
margin-right: 200px;
}

.about-me{
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.projects{
  display: block;
  margin-top: 100px;
}

.contact{
  margin-top: 100px;
  margin-bottom: 100px;
}

#content{
  font-family: 'Roboto Mono', monospace;
  /*font-family: 'Roboto Condensed', sans-serif;*/
  font-size: 18px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: justify;
}

/* ---- image hover -----*/
*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.container{
  padding: 1em 0;
  width: 50%;
  margin-left: 370px;
  font-family: 'Roboto Mono', monospace;
  display: flex;
}

@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
  #floating-header{
    display: block;
    width: 100%;
  }
  .lower-section{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
  #floating-header{
    width: 100%;
  }
  .lower-section{
    width: 100%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 75%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 20%;
}
